body{
  background-color: gray;
  margin: auto;
}
@media(max-width:2in){
  #searchBox{
    width:200px;
    height: 25px;
    background-color: white;
  }
  #contentContainer {
      width: 200px;
      height: 200px;
    }
  #wrapper {
      width: 3200px;

  }
  .content {
    margin-right: 200px;
      width: 200px;
      height: 200px;

  }
  #navLinks {
      width: 200px;
  }

}
#searchBox{
  margin-bottom: 10px;
  width:200px;
  height: 25px;
  background-color: white;
  border: 1px gray solid;
  border-radius: 5px;
}
#contentContainer {
    width: 200px;
    height: 200px;

    overflow: hidden;
}
#wrapper {
    width: 3200px;
  position: relative;
  left:0px;
    transition: left .5s ease-in-out;
}
.content {
  margin-right: 200px;
  border: 0px white solid;
    float: left;
    width: 200px;
    height: 200px;
    white-space: normal;
    background-repeat: no-repeat;
}
#itemOne {
    background-color: #ADFF2F;

}
#itemTwo {
    background-color: #FF7F50;

}
#itemThree {
    background-color: #1E90FF;

}
#itemFour {
    background-color: #DC143C;

}
#itemFive {
    background-color: #ADFF2F;

}
#itemSix {
    background-color: #FF7F50;

}
#itemSeven {
    background-color: #1E90FF;

}
#itemEight {
    background-color: #DC143C;

}
#navLinks {
    text-align: center;
    width: 200px;
}
    #navLinks ul {
        margin: 0px;
        padding: 0px;
        display: inline-block;
        margin-top: 6px;
    }
        #navLinks ul li {
          width:20px;
          height: 20px;
          color:white;

            float: left;
            text-align: center;
            margin: 10px;
            list-style: none;
            cursor: pointer;
            background-color: white;
            padding: 5px;
            border-radius: 50%;
            border: white 1px solid;
        }
            #navLinks ul li:hover {
                background-color: gray;
            }
            #navLinks ul li.active {
                background-color: red;
                color: white;
                outline-width: 10px;
            }
                #navLinks ul li.active:hover {
                    background-color: #484848;
                    color: #FFFFFF;
                }
