body{
  background-color: gray;
}
#contentContainer {
    width: 550px;
    height: 350px;

    overflow: hidden;
}
#wrapper {
    width: 2200px;
  position: relative;
  left:0px;
    transition: left .5s ease-in-out;
}
.content {
    float: left;
    width: 550px;
    height: 350px;
    white-space: normal;
    background-repeat: no-repeat;
}
#itemOne {
    background-color: #ADFF2F;

}
#itemTwo {
    background-color: #FF7F50;

}
#itemThree {
    background-color: #1E90FF;

}
#itemFour {
    background-color: #DC143C;

}
#navLinks {
    text-align: center;
    width: 550px;
}
    #navLinks ul {
        margin: 0px;
        padding: 0px;
        display: inline-block;
        margin-top: 6px;
    }
        #navLinks ul li {
          width:20px;
          height: 20px;
          color:white;

            float: left;
            text-align: center;
            margin: 10px;
            list-style: none;
            cursor: pointer;
            background-color: white;
            padding: 5px;
            border-radius: 50%;
            border: white 1px solid;
        }
            #navLinks ul li:hover {
                background-color: gray;
            }
            #navLinks ul li.active {
                background-color: red;
                color: white;
                outline-width: 10px;
            }
                #navLinks ul li.active:hover {
                    background-color: #484848;
                    color: #FFFFFF;
                }
