body{
  background-color: silver;
  margin: auto;
}
h3{margin:0; }
p{margin:0;}
h6{margin:0; }
#youtube{
  background-color: red;
  width:30px;
  height: 20px;
  border: 0px white solid;
  border-radius: 5px;
}
#triangle{
  position: relative;
  top: 4px;
  margin-left: 12px;
  border:6px solid transparent;
  border-left: 6px solid white;
}
input{

  border-radius: 10px;
  background-color: white;
  width:70%;
  background-color: mintcream;
}

#searchBox{

  margin:5px auto 10px auto;
  width:50%;
  }
#contentContainer {
  margin:5px auto 5px auto;
    width: 950px;
    height: 230px;
    overflow-y: hidden;
}
#wrapper {
    width: 3200px;
  position: relative;
  left:0px;
    transition: left .5s ease-in-out;
}
.content {

  margin-right: 50px;
  border: 0px white solid;
  border-radius: 5px;
    float: left;
    width: 200px;
    height: 200px;
    white-space: normal;
    background-repeat: no-repeat;
}
#itemOne {
    background-color: #ADFF2F;

}
#itemTwo {
    background-color: #FF7F50;

}
#itemThree {
    background-color: #1E90FF;

}
#itemFour {
    background-color: #DC143C;

}
#itemFive {
    background-color: #ADFF2F;

}
#itemSix {
    background-color: #FF7F50;

}
#itemSeven {
    background-color: #1E90FF;

}
#itemEight {
    background-color: #DC143C;

}
#navLinks {
    margin:5px auto 5px auto;
    text-align: center;
    width: 90%;
}
    #navLinks ul {
        margin: 0px;
        padding: 0px;
        display: inline-block;
        margin-top: 6px;
    }
        #navLinks ul li {
          width:20px;
          height: 20px;
          color:white;

            float: left;
            text-align: center;
            margin: 10px;
            list-style: none;
            cursor: pointer;
            background-color: white;
            padding: 5px;
            border-radius: 50%;
            border: white 1px solid;
        }
            #navLinks ul li:hover {
                background-color: gray;
            }
            #navLinks ul li.active {
                background-color: salmon;
                color: white;
                outline-width: 10px;
            }
                #navLinks ul li.active:hover {
                    background-color: #484848;
                    color: #FFFFFF;
                }
  @media (max-width:10in){
      #contentContainer {
          width: 700px;
      }
  }

  @media (max-width:8in){
      #contentContainer {
          width: 450px;
      }
  }
@media (max-width:5in){
      #contentContainer {
          width: 200px;
      }
  }
